<div class="settings-open">
    <div class="inner-settings">
        <a href="#"><img class="" src="./../../img/configuration.svg" /></a>
    </div>
    <span class="settings-header">Настройки</span>

    <div class="settings-forms">
        <div class="account-div-first">
            <span class="account">АККАУНТ</span>
            <div class="account__form">
                <input class="account-tel" type="tel" name="account-tel" id="account-tel" value="{{telephone}}">
                <label class="account-tel-label" for="account-tel">Номер тел.</label>
            </div>
            <div class="account__form">
                <input class="account-tel" type="password" name="account-tel" id="account-tel" placeholder="password1234">
                <label class="account-tel-label" for="account-tel">Пароль</label>
            </div>
        </div>
        <div class="account-div">
            <span class="account">ПРОФИЛЬ</span>
            <div class="account__form">
                <input class="account-tel" type="text" name="account-tel" id="account-tel" value="{{name}}">
                <label class="account-tel-label" for="account-tel">Имя</label>
            </div>
            <div class="account__form">
                <input class="account-tel" type="text" name="account-tel" id="account-tel" value="{{education}}">
                <label class="account-tel-label" for="account-tel">Учеба</label>
            </div>
            <div class="account__form">
                <input class="account-tel" type="text" name="account-tel" id="account-tel" value="{{job}}">
                <label class="account-tel-label" for="account-tel">Работа</label>
            </div>
            <div class="account__form">
                <textarea class="account-tel" type="text" name="account-tel" id="account-tel" rows="4">{{aboutMe}}</textarea>
                <label class="account-tel-label" for="account-tel">Доп. информация</label>
            </div>
        </div>
        <div class="account-div">
            <div class="account__form">
                <button type="button" class="save-button" id="save-button">Сохранить</button>
            </div>
        </div>
        <div class="account-div">
            <span class="account">СМЕНИТЬ АККАУНТ</span>
            <div class="account__logout">
                <a href="#" class="logout">Выйти</a>
            </div>
        </div>
        <div class="account-div logo">
            <img src="./../../img/classic_label.png" width="143" height="49">
        </div>
    </div>
</div>
